UniversalUpc/Service References/UpcSvc/UpcSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://thetasoft2.azurewebsites.net/UpcSvc/UpcSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UpcSvc" />
  <xs:element name="GetLastScanDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sScanCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastScanDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UpcSvc" minOccurs="0" name="GetLastScanDateResult" nillable="true" type="q1:USR_String" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDvdScanInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sScanCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDvdScanInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UpcSvc" minOccurs="0" name="GetDvdScanInfoResult" nillable="true" type="q2:USR_DvdInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>