UniversalUpc/Service References/UpcSvc/UpcSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpcSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://thetasoft2.azurewebsites.net/UpcSvc/UpcSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://thetasoft2.azurewebsites.net/UpcSvc/UpcSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://thetasoft2.azurewebsites.net/UpcSvc/UpcSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UpcSvc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpcSvc_GetLastScanDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastScanDate" />
  </wsdl:message>
  <wsdl:message name="IUpcSvc_GetLastScanDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastScanDateResponse" />
  </wsdl:message>
  <wsdl:message name="IUpcSvc_GetDvdScanInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDvdScanInfo" />
  </wsdl:message>
  <wsdl:message name="IUpcSvc_GetDvdScanInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDvdScanInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUpcSvc_CreateDvd_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDvd" />
  </wsdl:message>
  <wsdl:message name="IUpcSvc_CreateDvd_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDvdResponse" />
  </wsdl:message>
  <wsdl:message name="IUpcSvc_UpdateUpcLastScanDate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUpcLastScanDate" />
  </wsdl:message>
  <wsdl:message name="IUpcSvc_UpdateUpcLastScanDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUpcLastScanDateResponse" />
  </wsdl:message>
  <wsdl:message name="IUpcSvc_FetchTitleFromGenericUPC_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchTitleFromGenericUPC" />
  </wsdl:message>
  <wsdl:message name="IUpcSvc_FetchTitleFromGenericUPC_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchTitleFromGenericUPCResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpcSvc">
    <wsdl:operation name="GetLastScanDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpcSvc/GetLastScanDate" message="tns:IUpcSvc_GetLastScanDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpcSvc/GetLastScanDateResponse" message="tns:IUpcSvc_GetLastScanDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDvdScanInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpcSvc/GetDvdScanInfo" message="tns:IUpcSvc_GetDvdScanInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpcSvc/GetDvdScanInfoResponse" message="tns:IUpcSvc_GetDvdScanInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDvd">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpcSvc/CreateDvd" message="tns:IUpcSvc_CreateDvd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpcSvc/CreateDvdResponse" message="tns:IUpcSvc_CreateDvd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUpcLastScanDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpcSvc/UpdateUpcLastScanDate" message="tns:IUpcSvc_UpdateUpcLastScanDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpcSvc/UpdateUpcLastScanDateResponse" message="tns:IUpcSvc_UpdateUpcLastScanDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchTitleFromGenericUPC">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpcSvc/FetchTitleFromGenericUPC" message="tns:IUpcSvc_FetchTitleFromGenericUPC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpcSvc/FetchTitleFromGenericUPCResponse" message="tns:IUpcSvc_FetchTitleFromGenericUPC_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpcSvc" type="tns:IUpcSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastScanDate">
      <soap:operation soapAction="http://tempuri.org/IUpcSvc/GetLastScanDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDvdScanInfo">
      <soap:operation soapAction="http://tempuri.org/IUpcSvc/GetDvdScanInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDvd">
      <soap:operation soapAction="http://tempuri.org/IUpcSvc/CreateDvd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUpcLastScanDate">
      <soap:operation soapAction="http://tempuri.org/IUpcSvc/UpdateUpcLastScanDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchTitleFromGenericUPC">
      <soap:operation soapAction="http://tempuri.org/IUpcSvc/FetchTitleFromGenericUPC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpcSvc">
    <wsdl:port name="BasicHttpBinding_IUpcSvc" binding="tns:BasicHttpBinding_IUpcSvc">
      <soap:address location="http://thetasoft2.azurewebsites.net/UpcSvc/UpcSvc.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>